@model MovieViewModel

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />

<div id="background"></div>

<div id="SpotlightView" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            @for (var i = 0; i < 3; i++)
            {
                <button type="button" data-bs-target="#SpotlightView" 
                    data-bs-slide-to="@(i)" aria-label="Slide @(i+1)" class="@(i == 0 ? "active" : "")" 
                    aria-current="true">
                </button>
            }
        </div>

    <div class="carousel-inner">
        @for (var i = 0; i < 3; i++)
        {
            var item = Model.Movies[i];
            <div class="carousel-item @(i == 0 ? "active" : "")">
                <img class="spotlight-backdrop" src="@item.MovieBackdrop" alt="First slide">
                <div class="container">
                    <div class="carousel-caption carousel-text@(-(i+1))">
                        <img class="spotlight-logos-position@(i+1)" src="@item.MovieLogo" alt="@(i+1). slide logo" />
                        <p>@item.MovieInfo</p>
                        <p style="font-family: Garamond, serif;">
                            <a class="btn btn-spotlight" 
                                asp-controller="Movie" asp-action="Details" asp-route-id="@item.MovieId">
                                @item.MovieTagline
                            </a>
                        </p>
                    </div>
                </div>
            </div> 
        }
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#SpotlightView" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
  
    <button class="carousel-control-next" type="button" data-bs-target="#SpotlightView" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    
</div>
    
<div class="container-fluid home-container">
    <h2 class="home-section-title">What's Popular</h2>
    <div class="home-sections home-popular-movies">
        <button id="left-scroll" class="left-scroll scroll-buttons" type="button">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div id="home-display" class="home-display">
            @foreach (var movie in Model.Movies)
            {
                <div class="home-card my-4">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="home-card-actions">
                            <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                <button class="home-card-icon" type="submit">
                                    <i title="Add to Favourites" class="fa-solid fa-heart"></i>
                                </button>
                            </form>
                            <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                <button class="home-card-icon" type="submit">
                                    <img title="Add to Watchlist" class="watchlist-icon"
                                            src="~/img/Icon-svg/watchlist-solid.svg"/>
                                </button>
                            </form>
                                <a class="home-card-icon" style="width: 24px" 
                                    href="#">
                                    <i class="fa-solid fa-share-nodes" style="margin-top: 5px;"></i>
                                </a>
                        </div>
                    }
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId"> 
                            <img class="home-card-poster" src="@movie.MoviePoster"/>
                    </a>
                    <div class="home-card-content">
                        <h3 class="home-card-title">
                            <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId">
                                @movie.Title
                            </a>
                        </h3>
                        <p class="home-card-date">@movie.ReleaseDate.ToShortDateString()</p>
                    </div>
                </div>
                }
        </div>
        <button id="right-scroll" class="right-scroll scroll-buttons" type="button">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>

    <h2 class="home-section-title">Recently Released</h2>
    <div class="home-sections home-popular-movies">
        <button class="left-scroll scroll-buttons" type="button">
            <i class="fa-solid fa-angle-left"></i>
        </button>
        <div class="home-display">
            @foreach (var movie in Model.Movies.OrderByDescending(i=>i.ReleaseDate))
            {
                <div class="home-card my-4">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="home-card-actions">
                            <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                <button class="home-card-icon" type="submit">
                                    <i title="Add to Favourites" class="fa-solid fa-heart"></i>
                                </button>
                            </form>
                            <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                <button class="home-card-icon" type="submit">
                                    <img title="Add to Watchlist" class="watchlist-icon"
                                            src="~/img/Icon-svg/watchlist-solid.svg"/>
                                </button>
                            </form>
                                <a class="home-card-icon" style="width: 24px" 
                                    href="#">
                                    <i class="fa-solid fa-share-nodes" style="margin-top: 5px;"></i>
                                </a>
                        </div>
                    }
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId"> 
                            <img class="home-card-poster" src="@movie.MoviePoster"/>
                    </a>
                    <div class="home-card-content">
                        <h3 class="home-card-title">
                            <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId">
                                @movie.Title
                            </a>
                        </h3>
                        <p class="home-card-date">@movie.ReleaseDate.ToShortDateString()</p>
                    </div>
                </div>
                }
        </div>
        <button class="right-scroll scroll-buttons" type="button">
            <i class="fa-solid fa-angle-right"></i>
        </button>
    </div>

    <div>

    </div>
</div>