@model MovieDetailModel

@{
    ViewData["Title"] = Model.Movie.Title;
}

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="details-background">
    <img class="details-backdrop" src="@Model.Movie.MovieBackdrop" />
</div>

<div class="container container-details">
    <div class="info-bar">
        <div class="details-logo">
            <img class="logo-img" src="@Model.Movie.MovieLogo"/>
        </div>
        
        <div class="details-poster">
            <a href="@Model.Movie.MoviePoster">
                <img class="poster-img" src="@Model.Movie.MoviePoster" title="@Model.Movie.Title" /></a>
        </div>

        <div class="details-info info-inside">
            <div class="info-inside-main">

                <div class="details-row">
                    <div style="display:flex; justify-content: space-between;">
                        <div style="display:inline-flex;">
                            <h2>@Model.Movie.Title</h2> <h2 class="text-muted px-1">(@Model.Movie.ReleaseDate.Year)</h2>
                        </div>
                        <div class="d-flex">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                                    <input type="hidden" name="MovieId" value="@Model.Movie.MovieId"/>
                                    <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="p-0" type="submit" style="background: none;border: none;">
                                        <img title="Add to Favourites" class="addlist-icons" 
                                        src="~/img/Icon-svg/heart-circle-plus-solid.svg"/></button>
                                </form>
                                <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                                    <input type="hidden" name="MovieId" value="@Model.Movie.MovieId"/>
                                    <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="p-0" type="submit" style="background: none;border: none;">
                                        <img title="Add to Watchlist" class="addlist-icons" style="height: 28px;width: 28px;"
                                        src="~/img/Icon-svg/watchlist-solid.svg"/></button>
                                </form>
                                <a href=""><img title="Add to List" class="addlist-icons" src="~/img/Icon-svg/list-solid.svg"/></a>
                            }
                        </div>
                    </div>

                    <div>
                        <span>@Model.Movie.ReleaseDate.ToLongDateString()</span>
                            <span class="dot mx-2"></span>
                        <span class="genre-list">
                            @foreach (var item in Model.Genres)
                            {   
                                <a asp-controller="Movie" 
                                asp-action="Index" 
                                asp-route-genre="@item.Name" 
                                class="genrelink">@item.Name</a>
                            }
                        </span>
                            <span class="dot mx-2"></span>
                        <span class="box">@(Model.Movie.RunTime / 60)h @(Model.Movie.RunTime % 60)m</span>
                    </div>
                </div>

                <div class="details-rating my-2">
                    <span style="padding-right:0.5rem"><img class="ratings-logo" src="/img/ratinglogo/Metacritic.svg"/>
                        @Model.Movie.MovieRatings</span>
                    <span class="px-2"><img class="ratings-logo" src="/img/ratinglogo/Trakt_RED.svg"/>
                        @Model.Movie.MovieRatings </span>
                    <span class="px-2"><img class="ratings-logo" src="/img/ratinglogo/RT_AUDIENCE_SCORE.svg"/>
                        @Model.Movie.MovieRatings</span>
                    <span class="px-2"><img class="ratings-logo" src="/img/ratinglogo/RT_CERTIFICATE_FRESH.svg"/>
                        @Model.Movie.MovieRatings</span>
                    <span class="px-2"><img class="ratings-logo" src="/img/ratinglogo/IMDB.svg"/>
                        @Model.Movie.MovieRatings</span>
                    <span><img class="ratings-logo" src="/img/ratinglogo/TMDb.svg"/>
                        @Model.Movie.MovieRatings</span>
                </div>

                <div>
                    <h5 class="text-muted my-2">@Model.Movie.MovieTagline</h5>
                </div>

                <div class="info">
                    <p>@Model.Movie.MovieInfo</p>
                </div>

                <div class="details-crew">
                    Director: @Model.Movie.Director
                </div>

            </div>

            <div class="info-inside-footer">
                <div class="details-studio">     
                    @foreach (var item in Model.Studios)
                    {
                        <a asp-controller="Movie" 
                            asp-action="Index" 
                            asp-route-studio="@item.Studio_Name" 
                            class="studiolink"><img title="@item.Studio_Name" style="width: 3rem; height: 3rem;" 
                                src="@item.Studio_logo"/></a>
                    }
                </div>
            </div>

        </div>

        <div class="details-cast">
            <div class="actor-card px-3">
                <ol style="list-style:none; padding-inline-start:0">
                    <li>
                        @foreach (var item in Model.Persons)
                        {
                            <a asp-controller="Movie" asp-action="Index" asp-route-person="@item.Name">
                            <img class="actor-photo" src="@item.PhotoUrl"><img /> 
                                @item.Name</a>
                                
                        }
                    </li>
                </ol>
            </div>
        </div>

    </div>
</div>