@model MovieDetailModel

@{
    ViewData["Title"] = Model.Movie.Title;
}

<link rel="stylesheet" href="~/css/details.css" asp-append-version="true" />

<div class="details-background">
    <img class="details-backdrop" src="@Model.Movie.MovieBackdrop" />
</div>

<div class="container container-details">
    <div class="movie-details">
        <div class="details-logo">
            <img class="logo-img" src="@Model.Movie.MovieLogo"/>
        </div>
        
        <div class="details-poster">
            <a href="@Model.Movie.MoviePoster">
                <img class="poster-img" src="@Model.Movie.MoviePoster" title="@Model.Movie.Title" /></a>
        </div>

        <div class="details-info info-inside">
            <div class="info-inside-main">

                <div class="details-row">
                    <div style="display:flex; justify-content: space-between;">
                        <div style="display:inline-flex;">
                            <h2>@Model.Movie.Title</h2> <h2 class="text-muted px-1">(@Model.Movie.ReleaseDate.Year)</h2>
                        </div>
                        <div class="d-flex">
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                                    <input type="hidden" name="MovieId" value="@Model.Movie.MovieId"/>
                                    <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="p-0" type="submit" style="background: none;border: none;">
                                        <img title="Add to Favourites" class="addlist-icons" 
                                        src="~/img/Icon-svg/heart-circle-plus-solid.svg"/></button>
                                </form>
                                <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                                    <input type="hidden" name="MovieId" value="@Model.Movie.MovieId"/>
                                    <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="p-0" type="submit" style="background: none;border: none;">
                                        <img title="Add to Watchlist" class="addlist-icons" style="height: 28px;width: 28px;"
                                        src="~/img/Icon-svg/watchlist-solid.svg"/></button>
                                </form>
                                <a href=""><img title="Add to List" class="addlist-icons" src="~/img/Icon-svg/list-solid.svg"/></a>
                            }
                        </div>
                    </div>

                    <div>
                        <span>@Model.Movie.ReleaseDate.ToLongDateString()</span>
                            <span class="dot mx-2"></span>
                        <span class="genre-list">
                            @foreach (var item in Model.Genres)
                            {   
                                <a asp-controller="Movie" 
                                asp-action="Index" 
                                asp-route-genre="@item.Name" 
                                class="genrelink">@item.Name</a>
                            }
                        </span>
                            <span class="dot mx-2"></span>
                        <span class="box">@(Model.Movie.RunTime / 60)h @(Model.Movie.RunTime % 60)m</span>
                    </div>
                </div>

                <div class="details-rating my-2">
                    <span style="padding-right:0.5rem">
                        <img class="ratings-logo" src="/img/ratinglogo/Metacritic.svg"/>
                        @if (Model.OMDBApiResponse.Metascore != null)
                        {
                            @Model.OMDBApiResponse.Metascore
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </span>
                    <span class="px-2"><i class="fa-solid fa-star"></i>
                        @Model.Movie.MovieRatings </span>
                    <span class="px-2">
                        <img class="ratings-logo" src="/img/ratinglogo/RT_AUDIENCE_SCORE.svg"/>
                        @if (Model.OMDBApiResponse.Ratings != null)
                        {
                            @Model.OMDBApiResponse.Ratings.Where(i=>i.Source == "Rotten Tomatoes").Select(i=>i.Value).FirstOrDefault()
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </span>
                    <span class="px-2">
                        <img class="ratings-logo" src="/img/ratinglogo/RT_CERTIFICATE_FRESH.svg"/>
                        @if (Model.OMDBApiResponse.Ratings != null)
                        {
                            @Model.OMDBApiResponse.Ratings.Where(i=>i.Source == "Rotten Tomatoes").Select(i=>i.Value).FirstOrDefault()
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </span>
                    <span class="px-2">
                        <img class="ratings-logo" src="/img/ratinglogo/IMDB.svg"/>
                        @if (Model.OMDBApiResponse.imdbRating != null)
                        {
                            @Model.OMDBApiResponse.imdbRating
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </span>
                    <span>
                        <img class="ratings-logo" src="/img/ratinglogo/TMDb.svg"/>
                        @if (Model.TMDbApiMovieDetail.vote_average != null)
                        {
                            @Model.TMDbApiMovieDetail.vote_average
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </span>
                </div>

                <div>
                    <h5 class="text-muted my-2">@Model.Movie.MovieTagline</h5>
                </div>

                <div class="info">
                    <p>@Model.Movie.MovieInfo</p>
                </div>

                <div class="details-crew">
                    <p class="me-3">Director: @Model.Movie.Director</p>
                    <p class="me-3">Writer: @Model.OMDBApiResponse.Writer</p>
                </div>
            </div>

            <div class="info-inside-footer">
                <div class="details-number">
                    <p class="me-3">Box Office: @Model.OMDBApiResponse.BoxOffice</p>
                    <p class="me-3">Awards: @Model.OMDBApiResponse.Awards</p>
                </div>

                <div class="details-studio">
                    @if (Model.TMDbApiMovieDetail.production_companies != null)
                    {
                        @for (var i = 0; i < 1; i++)
                        {
                            var item = Model.TMDbApiMovieDetail.production_companies[i];
                            <a asp-controller="Movie" asp-action="Index" asp-route-studio="@item.name" 
                                class="studiolink"><img title="@item.name" class="studiologo" 
                                    src="@Url.Content("https://www.themoviedb.org/t/p/w154/"+@item.logo_path)"/>
                            </a>
                        }
                    }
                </div>
            </div>

        </div>

        <div class="details-cast my-5">
            <div class="details-cast-row">
            @if (Model.TMDbApiMovieDetail.credits != null && Model.TMDbApiMovieDetail.credits.cast != null)
            {
                @foreach (var item in Model.TMDbApiMovieDetail.credits.cast.Take(20).ToList())
                {
                    <div class="actor-card mx-3 my-5">
                        @if (item.profile_path != null)
                        {
                            <img class="actor-photo"
                                src="@Url.Content("https://www.themoviedb.org/t/p/h632/"+@item.profile_path)">
                            <img/>
                        }
                        else
                        {
                            <img class="actor-photo" style="width: 155px;"
                                src="/img/Other/defaultActor.jpg">
                            <img/>  
                        }
                        <div class="py-2" style="font-size:12px" >
                            @item.name
                        </div>
                    </div>
                }
            }
            </div>
        </div>

    </div>
</div>