@model Movie

<div class="movie-card">
    <div class="movie-card-inner">
        @if(User.Identity.IsAuthenticated)
        {
        <div class="movie-card-actions">
            <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                <input type="hidden" name="MovieId" value="@Model.MovieId"/>
                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                    <button class="movie-card-icon" type="submit">
                        <i title="Add to Favourites" class="fa-solid fa-heart"></i>
                    </button>
            </form>
            <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                <input type="hidden" name="MovieId" value="@Model.MovieId"/>
                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                    <button class="movie-card-icon" type="submit">
                        <img title="Add to Watchlist" class="watchlist-icon"
                            src="~/img/Icon-svg/watchlist-solid.svg"/>
                    </button>
            </form>
            <a class="movie-card-icon" style="width: 24px" 
                href="#">
                <i class="fa-solid fa-share-nodes" style="margin-top: 5px;"></i>
            </a>
        </div>
        }
        <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.MovieId"> 
            <img class="poster" src="@Model.MoviePoster"/>
        </a>
            <div class="poster-content">
                <h3  class="movie-card-title">
                    <a asp-controller="Movie" asp-action="Details" asp-route-id="@Model.MovieId">
                        @Model.Title
                    </a>
                </h3>
                <p>@Model.ReleaseDate.ToShortDateString()</p>
            </div>
    </div>
</div>