@model Movie

<div class= "movie-card">
    <div class="movie-card-inner">
        <div class="wrapper">
        <a asp-controller="Movie" asp-action="Details" asp-route-title="@Model.Title"> 
        <img class="poster" src="@Model.MoviePoster"/></a>
            <div class="poster-content">
                <h3><a asp-controller="Movie" asp-action="Details" asp-route-Title="@Model.Title">@Model.Title</a></h3>
                <p>@Model.ReleaseDate.ToShortDateString()</p>
            </div>
        </div>
    </div>
</div>