@model AdminMovieModel

@{
    ViewData["Title"] = "Admin Edit Movie";
}

<link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />

<div class="container wrapper">
    <h2><b>Update Movie</b></h2>
    <hr />
    <form asp-controller="Admin" asp-action="EditMovie" method="post">
        <input type="hidden" name="MovieId" value="@Model.MovieId" />

        <div class="add-movie-form">
            <div class="add-name">
                <input class="feedback-input" asp-for="Title"           placeholder="Title"/>
                    <span asp-validation-for="Title" class="mt-1 span-validation text-danger"></span>
                <input class="feedback-input" asp-for="Director"        placeholder="Director"/>
                    <span asp-validation-for="Director" class="mt-1 span-validation text-danger"></span>
                <input class="feedback-input" asp-for="MovieTagline"    placeholder="Tagline"/>
                <input class="feedback-input" asp-for="MovieInfo"       placeholder="Info"/>
                    <span asp-validation-for="MovieInfo" class="mt-1 span-validation text-danger"></span>
            </div>

            <div class="add-poster">
                <input class="feedback-input" asp-for="MoviePoster"     placeholder="Poster Url"/>   
            </div>

            <div class="add-backdrop">
                <input class="feedback-input" asp-for="MovieBackdrop"   placeholder="Backdrop Url"/>   
            </div>

            <div class="add-time ">
                <input class="feedback-input" asp-for="ReleaseDate"     placeholder="Release Date"/>   
                <input class="feedback-input" asp-for="RunTime"         placeholder="Runtime"/>
                    <span asp-validation-for="RunTime" class="mt-1 span-validation text-danger"></span>
                <input class="feedback-input" asp-for="MovieRatings"    placeholder="Ratings"/>
                <input class="feedback-input" asp-for="Budget"          placeholder="Budget"/>
            </div>

            <div class="add-id ">
                <input class="feedback-input" asp-for="IMDBId"          placeholder="IMDb Id"/>
                    <span asp-validation-for="IMDBId" class="mt-1 span-validation text-danger"></span>
                <input class="feedback-input" asp-for="TMDbId"          placeholder="TMDb Id"/>
                    <span asp-validation-for="TMDbId" class="mt-1 span-validation text-danger"></span>

            </div>

            <div class="add-logo">
                <input class="feedback-input" asp-for="MovieLogo"       placeholder="Logo Url"/>   
            </div>

            <div class="add-trailer">
                <input class="feedback-input" asp-for="Trailer"         placeholder="Trailer Url"/>
                    <span asp-validation-for="Trailer" class="mt-1 span-validation text-danger"></span>
            </div>

            <div class="add-checkbox">

                @if(Model.SelectedGenres != null)
                {
                    @for (int i = 0; i < Model.SelectedGenres.Count; i++)
                    {
                        <input type="hidden" name="SelectedGenres[@i].GenreId" value="@Model.SelectedGenres[@i].GenreId">
                        <input type="hidden" name="SelectedGenres[@i].Name" value="@Model.SelectedGenres[@i].Name">
                    }
                }
                @if (Model.SelectedStudios != null)
                {
                    @for (int i = 0; i < Model.SelectedStudios.Count; i++)
                    {
                        <input type="hidden" name="SelectedStudios[@i].StudioId" value="@Model.SelectedStudios[@i].StudioId">
                        <input type="hidden" name="SelectedStudios[@i].Studio_Name" value="@Model.SelectedStudios[@i].Studio_Name">
                    }
                }

                <div class="add-genre add-moviegenres">
                    @foreach (var item in (List<Genre>)ViewBag.Genres)
                    {
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" name="genreIds" value="@item.GenreId" id="genre_@item.GenreId" 
                               @(Model.SelectedGenres.Any(i=>i.GenreId==item.GenreId)? "checked" : "")>
                          <label class="form-check-label" for="genre_@item.GenreId">
                            @item.Name
                          </label>
                        </div>
                    }
                </div>
                <div class="add-genre add-moviestudio">
                    @foreach (var item in (List<Studio>)ViewBag.Studios)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="studioIds" value="@item.StudioId" id="studio_@item.StudioId"
                                @(Model.SelectedStudios.Any(i=>i.StudioId==item.StudioId)? "checked" : "")>
                            <label class="form-check-label" for="studio_@item.StudioId">
                                @item.Studio_Name
                            </label>
                        </div>
                    }
                </div>
                
            </div>

            <input type="submit" value="Update Movie" class="add-btn"/>

        </div>
    </form>
</div>

@section Scripts
{
    <script src="/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}