@model UserProfileModel

<div class="container">
    <div class="profile-header">
        <div class="profile-grid1">
            @if (Model.ProfilePic != null)
            {
                <img class="profile-img" src="@Model.ProfilePic">
            }
            else
            {
                <img class="profile-img" style="filter:invert()" src="/img/Other/avatar-defult.png">
            }
        </div>
        <div class="profile-grid2">
            <h2>Hello, @Model.UserName</h2>
        </div>
        <div class="profile-grid3">
            <span>@Model.FirstName
            @Model.LastName</span>
            <span>Member since - @Model.CreationDate.ToString("MMMM") @Model.CreationDate.Year</span>
        </div>
        <span class="profile-grid5">
            <a asp-controller="User" asp-action="Favourite">
                <img class="profile-icons" src="/img/Icon-svg/heart-solid.svg"/></a>
            <a asp-controller="User" asp-action="Watchlist">
                <img class="profile-icons" style="width:34px" src="/img/Icon-svg/watchlist-solid.svg"/></a>
            <a href="">
                <img class="profile-icons" src="/img/Icon-svg/list-solid.svg"/></a>
            <a asp-controller="User" asp-action="ProfileEdit">
                <img class="profile-icons" src="/img/Icon-svg/gear-solid.svg"/></a>
        </span>
    </div>
</div>