@model UserProfileModel
@{
    ViewData["Title"] = "Profile";
}

<link rel="stylesheet" href="~/css/user.css" asp-append-version="true" />

<div id="background"></div>

<div class="container-fluid wrapper">
    <div class="profile-background mb-5">
        <div class="container-md">
            <div class="profile-wrapper">
                <div class="profile-user">
                    <div class="profile-pic">
                    @if (Model.ProfilePic != null)
                    {
                        <img class="profile-img" src="/img/UserPictures/@Model.ProfilePic">
                    }
                    else
                    {
                        <img class="profile-img" style="filter:invert()" src="/img/Other/avatar-defult.png">
                    }
                    </div>
                    <div class="profile-info">
                        <div class="profile-username">
                            <h2>Hello, @Model.UserName</h2>
                        </div>
                        <div class="profile-details">
                            <span>@Model.FirstName
                                @Model.LastName</span>
                            <span>Member since - @Model.CreationDate.ToString("MMMM") @Model.CreationDate.Year</span>
                        </div>
                    </div>
                </div>
                <div class="profile-link">
                    <a asp-controller="User" asp-action="Favourite">
                        <img class="profile-icons" src="/img/Icon-svg/heart-solid.svg"/></a>
                    <a asp-controller="User" asp-action="Watchlist">
                        <img class="profile-icons" style="width:34px" src="/img/Icon-svg/watchlist-solid.svg"/></a>
                    <a href="">
                        <img class="profile-icons" style="margin-right:6px" src="/img/Icon-svg/list-solid.svg"/></a>
                    <a asp-controller="User" asp-action="ProfileEdit">
                        <img class="profile-icons" src="/img/Icon-svg/gear-solid.svg"/></a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-md">
        <div class="my-5 text-light">
            <h2>Recently Viewed</h2>
        </div>
        @if(Model.Movie == null)
        {   
            @await Html.PartialAsync("_nocontent")
        }
        else
        {
            <div class="profile-recentlyviewed">
                @foreach (var movie in Model.Movie)
                {    
                    <div class="recentlyviewed-card mb-4">
                        <div class="recentlyviewed-card-actions">
                            <form asp-controller="User" asp-action="AddtoFavourite" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="recentlyviewed-card-icon" type="submit">
                                        <i title="Add to Favourites" class="fa-solid fa-heart"></i>
                                    </button>
                            </form>
                            <form asp-controller="User" asp-action="AddtoWatchlist" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                <input type="hidden" name="AddedDate" value="@DateTime.UtcNow" />
                                    <button class="recentlyviewed-card-icon" type="submit">
                                        <img title="Add to Watchlist" class="watchlist-icon"
                                            src="~/img/Icon-svg/watchlist-solid.svg"/>
                                    </button>
                            </form>
                            <form asp-controller="User" asp-action="RemoveFromRecentlyViewed" method="POST">
                                <input type="hidden" name="MovieId" value="@movie.MovieId"/>
                                    <button class="recentlyviewed-card-icon" type="submit">
                                        <i title="Remove" class="fa-solid fa-x"></i>
                                    </button>
                            </form>
                        </div>
                        <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId"> 
                            <img class="recentlyviewed-poster" src="@movie.MoviePoster"/>
                        </a>
                        <div class="recentlyviewed-card-content">
                            <h3 class="recentlyviewed-card-title">
                                <a asp-controller="Movie" asp-action="Details" asp-route-id="@movie.MovieId">
                                    @movie.Title
                                </a>
                            </h3>
                            <p class="text-light">@movie.ReleaseDate.ToShortDateString()</p>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>